<html>
    <head>
        <link href=assets/style.css type=text/css rel=stylesheet />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>

    <body>
        Here's to hoping for world peace ... !!
        <form method="POST" action="/person">
            First name: <input type="text" id="firstname" name="firstname" /><br />
            Last name: <input type="text" id="lastname" name="lastname" /><br />
            <input type="submit" value="submit"/>
        </form>
        <meta name="google-signin-client_id" content="1057843692494-0830gbb8q4r9metu3t30h2ms8nljago8.apps.googleusercontent.com">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

    </body>
</html>
