<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylehseet" />
    </head>
    <body>
        
        <h1>Welcome, : <%= name %>!</h1>
        <img src= <%= picture %>>
    </body>
</html>