<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylehseet" />
    </head>
    <body>
        <h1>Codename: <%= codename %></h1>
        <h1>Firstname: <%= firstname %></h1>
        <h1>Lastname: <%= lastname %></h1>
    </body>
</html>