<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylehseet" />
    </head>
    <body>
        <h3>Welcome! :-)</h3>
        <%= name %><br>
        <%= email %><br>
        <%= id %><br>
        <img src= <%= picture %> height="100" width="100"><br>
    </body>
</html>