<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylehseet" />
    </head>
    <body>
        <h3>id_token:</h1>
        <%= id_token %>
        <h3>access_token:</h3>
         <%= access_token %>
    </body>
</html>